:root {
    --sky-blue-color: #25A59E;
    --black-color: #262626;
    --white-color: #FFFFFFCC;
    --light-blue-color: #44D5CD;
    --orange-color: #EE8F39;

}
@font-face {
    font-family: "urbanist";
    src: url(<style>
    @import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
    </style>);
}
#Gilda{
    font-family: Gilda-display;
    font-weight: 400;
}