:root {
    --sky-blue-color: #25A59E;
    --black-color: #262626;
    --white-color: #FFFFFFCC;
    --light-blue-color: #44D5CD;
    --orange-color: #EE8F39;

}
@font-face {
    font-family: "urbanist";
    src: url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

}
#Gilda{
    font-family: Gilda-display;
    font-weight: 400;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "gilda-display", "urbanist";
}

.wrapper {
    max-width: 375px;
margin: 0 auto;
    
}

header {
    background: var(--white-color);
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 375px;
height: 60px;
padding-top: 16px;
padding-right: 20px;
padding-bottom: 16px;
padding-left: 20px;
position: fixed;

}

nav .logo {
    font-family: "Gilda Display", sans-serif;
font-weight: 400;
font-size: 16px;
align-items: center;
color: var(--sky-blue-color);
}

/*Hero section*/

.hero-section {
    display: flex;
}